@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importación de los estilos de slick-carousel */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* Aquí van tus otros estilos globales */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}



/* Variables CSS para colores */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes fadeInModal {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeInModal {
  animation: fadeInModal 0.3s ease-out forwards;
}

.animate-fadeInBackdrop {
  animation: fadeInBackdrop 0.3s ease-out forwards;
}
